{% extends 'main/base.html' %}


{% block title %}
    О сайте
{% endblock %}


{% block content %}

<div class="content">
    <h3>О сайте</h3>
    <p class="desc">Animecal(endar) - интернер ресурс, развернутый на локальном хосте, представляющий базу данных
        аниме, разработанный в рамках лабораторной работы № 3 дисциплины ИСП. <br> Разработала веб-макака группы 053501 Бимон Мастурбина.
    </p>

    <br>
    <h4>Правила сайта</h4>
    <ul>
        <li>
            <p>1. Будьте вежливы и уважайте собеседников. Переходам на личности, грубости, хамству, оскорблениям и угрозам здесь нет места. Ни в каком виде.</p>
        </li>
        <li>
            <p>2. Пишите грамотно. Мы любим русский язык и не будем его коверкать.</p>
        </li>
        <li>
            <p>3. Здесь не матерятся. Нигде и ни в каком виде.</p>
        </li>
        <li>
            <p>4. Троллинг, флуд и политота не поощряются, особенно в топиках обсуждения аниме, манги и персонажей.</p>
        </li>
        <li>
            <p>5. Законы РФ нарушаться не должны. Здесь запрещено всё, что запрещено законами РБ.</p>
        </li>
        <li>
            <p>6. Отдельно запрещён постинг всего того, что может потенциально привести к бану сайта роскомнадзором.</p>
        </li>
        <li>
            <p>7. При раскрытии деталей сюжета, оборачивайте текст тегом спойлера.</p>
        </li>
        <li>
            <p>8. Разговоры, не касающиеся конкретного аниме, манги, героя и пр., перемещаются в оффтоп-тред.</p>
        </li>
        <li>
            <p>9. Реклама чего-либо без прямого на то разрешения администрацией запрещена;</p>
        </li>
        <li>
            <p>10. Модератор всегда прав(а). Действия модератора не обсуждаются. Требования модератора обязательны к выполнению.</p>
        </li>
    </ul>
</div>


{% endblock %}