{% extends 'main/base.html' %}


{% block title %}
    Аниме
{% endblock %}


{% block content %}

<div class="anime-page">
    <h3>Список аниме</h3>
    <h6>На данной странице отображены аниме, отсортированные по дате выхода</h6>

    <div class="anime-table">
        {% for a in anime %}
        <a href="{{ a.get_absolute_url }}"><div class="item">
            <p><img src="{{a.poster.url}}"></p>
            <p class="anime-title">{{ a.title|truncatechars:18 }}</p>
            <p class="anime-year">{{ a.year }}</p>
        </div></a>
        {% endfor %}
    </div>
</div>

{% endblock %}