{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'main/img/icon.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/reglog.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/anime.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/simplepage.css' %}">

</head>
<body>
    <header>
        <a href="{% url 'anime_list' %}"><div class="logo">ANIMECAL</div></a>
        <div class="sub-menu">Меню
            <ul>
                <a href="{% url 'anime_list' %}"><li>Аниме</li></a>
                <a href=""><li>Онгоинги</li></a>
                <a href=""><li>Анонсы</li></a></li>
                <a href="{% url 'about' %}"><li>О сайте</li></a>
                <a href="{% url 'contacts' %}"><li>Контакты</li></a>
            </ul>
        </div>
        {% if request.user.is_authenticated %}
            <div class="asd">
            <div>{{ user.username }}</div>
            <a href="{% url 'logout' %}"><div class="user">Выйти</div></a>
            </div>
        {% else %}
            <div class="asd">
            <a href="{% url 'login' %}"><div class="user">Войти</div></a>
            <a href="{% url 'register' %}"><div class="user">Регистрация</div></a>
            </div>
        {% endif %}

    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>