.anime-page {
    max-width: 905px;
    margin: 0px auto;
    margin-top: 25px;

}

.anime-table {
    display: flex;
    flex-wrap: wrap;
}

.anime-table {
    flex-wrap: wrap;
}

.anime-page a {
    text-decoration: none;
}

.item {
    margin-right: 30px;
    margin-bottom: 30px;
    display: block;
    width: 150px;
    height: 240px;
    font-size: 13px;
    color: #181818;
    position: relative;
    border-bottom: 2px solid #181818;
}

.item p {
    margin: 0px;
}


.item img {
    width: 150px;
    height: 200px;
}

.anime-title {
    color: #21497A;
    font-weight: bold;
}

.anime-year {
    position: absolute;
    right: 0;
}

.anime-table a:hover .anime-title {
    color: red;
}