.anime-page {
    max-width: 905px;
    margin: 0px auto;
    margin-top: 25px;
    /*border: 1px solid black;*/
}

.anime-table {
    display: flex;
    flex-wrap: wrap;
}


.anime-page a {
    text-decoration: none;
}

.item {
    margin-right: 30px;
    margin-bottom: 30px;
    display: block;
    width: 150px;
    height: 240px;
    font-size: 13px;
    color: #181818;
    position: relative;
    border-bottom: 2px solid #181818;
}

.item p {
    margin: 0px;
}


.item img {
    width: 150px;
    height: 200px;
}

.anime-title {
    color: #21497A;
    font-weight: bold;
}

.anime-year {
    position: absolute;
    right: 0;
}

.anime-table a:hover .anime-title {
    color: red;
}

/*ANIME SINGLE PAGE*/

.title {
    display: flex;
    /*flex-wrap: wrap;*/
}

.title h3 {
    margin: 0px;
    max-width: 600px;
}

.title a {
    margin-top: 7px;
    margin-left: 30px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.block {
    margin-right: 40px;
    margin-bottom: 40px;
}

.block p {
    font-size: 13px;
    margin: 0px;
    margin-top: 10px;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.genres p {
    margin: 0px;
    padding: 0x;
}

.block-title {
    font-size: 15px;
    font-weight: bold;
    background: #D1DCE8;
    padding: 3px;
    padding-left: 10px;
}

.description {
    max-width: 300px;
    margin-right: 0px;
}

.inform {
    max-width: 250px;
    min-width: 250px;
}


/*USER COMMENT*/

.comment-form form {
    position: relative;
}

.comment-form form p {
    margin-left: 2px;
}

.comment-form form button {
    margin-top: 10px;
    background: #21497A;
    color: #fff;
    border: 1px solid #181818;
    height: 35px;
    transition: all .3s ease;
}

.comment-form form button:hover {
    background: #3069B0;
    transition: all .3s ease;
}

.comment-form form button {
    position: absolute;
    right: 0;
}

/*ALL COMMENTS*/

.comments {
    margin-top: 70px;
}

.comment {
    border-bottom: 2px solid #181818;
    padding: 5px;
}

.comment p {
    font-size: 15px;
    margin-right: 10px;
}

.comment-username {
    color: #21497A;
    font-weight: bold;
}

.comment-data {
    color: #A6A6A6;
}


/*ONGOINGS*/


.anime-table {
    margin-top: 15px;
}


