body {
    /*background-image: url('../img/background.jpg');*/
    background: #fff;
}

header {
    background: #181818;
    display: flex;
    position: relative;
}

header div{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
}

header a{
   text-decoration: none;
   color: #fff;
   font-size: 16px;
}

.logo {
    font-weight: bold;
}

.sub-menu {
    padding: relative;
    padding-left: 25px;
    min-width: 100px;
}

.sub-menu ul {
    position: absolute;
    top: 54px;
    left: 92px;
    display: none;
}

.sub-menu li {
    padding: 10px;
    list-style: none;
    min-width: 100px;
    background: #2C2C2C;
    border-right: 1px solid #2C2C2C;
    border-left: 1px solid #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
}

.asd {
    padding-top: 0px;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

.sub-menu:hover > ul {
    display: block;
}

.sub-menu:hover, .user:hover {
    background: #2C2C2C;
}

.sub-menu li:hover {
    background: #fff;
}

header a:hover {
    color: #fff;
}

.sub-menu li:hover{
    color: black;
}


